    /* Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900


12px = 0.75rem
16px = 1rem (base)
18px = 1.125rem
24px = 1.5rem
36px = 2.25rem
48px = 3rem
    */
    
    html {
        /* 100% est egal a 16px */
        font-size: 100%;
        font-family: 'Hepta Slab', serif;
        background-color: black;
    }
    
    h1 {
        font-family: 'Italiana', serif;
        font-size: 3rem;
        font-weight: 400;
        color: white;
    }
    
    h2 {
        font-size: 2.25rem;
        font-weight: 300;
        color: white;
    }
    
    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
    }
    
    h4 {
        font-size: 1.125rem;
        font-weight: 200;
        color: #A64942;
    }
    
    h5 {
        font-size: 1rem;
        font-weight: 300;
        color: #A64942;
    }
    
    h6,
    .h6 {
        font-size: 0.75rem;
        font-weight: 700;
        color: #FF7844;
    }
    
    p {
        font-size: 1rem;
    }
    
    body {
        --color-white: white;
    }
    
    section>p {
        color: var(--color-white);
        width: 500px;
    }
    
    section>p::first-letter {
        text-transform: uppercase;
        color: red;
    }
    
    footer a {
        color: var(--color-white);
        font-size: 1rem;
    }
    
    .maj {
        text-transform: uppercase;
    }
    
    .flex {
        display: flex;
    }
    
    .flexcenter {
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    
    form>li:first-child::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f1e0";
    }
    
    .center {
        justify-content: center;
        text-align: center;
    }
    
    .whitetext {
        color: var(--color-white);
    }
    /* div {
        display: inline-flexbox;
    } */
    /* ** STYLES GENERAUX END ** */
    
    .nav-onthe-side {
        width: 150px;
        min-height: 480px;
        &.nav-onthe-side li:first-child,
        &.nav-onthe-side li:last-child {
            text-transform: uppercase;
        }
    }
    
    a {
        margin-right: 20px;
    }
    /*  .background-image {
        background: url("../img/866-2000x300.jpeg") no-repeat;
    } */
    
    @mixin inputsearch {
        margin-top: 5px;
        padding-left: 50px;
        border-radius: 50px;
        width: 300px;
    }
    
    input#search {
        @include inputsearch;
        &:hover {
            background-color: blanchedalmond;
        }
    }
    /*  input#search {
        margin-top: 5px;
        padding-left: 50px;
        border-radius: 50px;
        width: 300px;
    }
    
    input#search:hover {
        background-color: blanchedalmond;
    } */
    /* CAROUSSEL */
    /* body {
        min-height: 100vh;
    } */
    
    .carousel-container .image-container {
        margin: 5px;
        padding: 5px;
    }
    
    .carousel-container .image-container img {
        min-width: 500px;
        height: 300px;
        margin: 5px;
        padding: 5px;
    }
    /*  .carousel-container .image-container div ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        } */
    
    .carousel-container .image-container div ul li {
        display: inline-flex;
        margin: 3px;
        color: red;
        cursor: pointer;
    }
    
    .carousel-container .left-arrow {
        position: absolute;
        cursor: pointer;
        right: 1125px;
        top: 300px;
    }
    
    .carousel-container .right-arrow {
        position: absolute;
        cursor: pointer;
        left: 575px;
        top: 300px;
    }
    
    .carousel-container .left-arrow h1,
    .carousel-container .right-arrow h1 {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin: 5px;
        padding: 5px;
    }
    /* ****END */
    /* FORMULAIRE */
    
    #form>input {
        color: white;
        font-size: 1rem;
    }
    
    #courriel:focus:invalid {
        border-color: red;
    }
    
    #courriel :focus:valid {
        border-color: green;
    }
    
    select {
        display: flex;
        &.input {
            color: white;
            font-size: 1rem;
            background-color: black;
        }
    }
    
    #form::before {
        content: "* tous les champs sont obligatoires";
        color: red;
        font-size: 1rem;
    }
    /* #form>input>placeholder::after {
            content: "*";
            color: red;
        } */
    
    .button {
        text-align: center;
        padding: 10px;
        background-color: #FF7844;
        color: #fff;
        font-family: 'Hepta Slab', serif;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        display: block;
        border: none;
        margin: 20px auto;
        border-radius: 3px;
        margin: 30px 0;
    }
    
    textarea {
        font-size: 1rem;
        color: white;
        min-height: 40%;
        min-width: 100%;
        margin-top: 25px;
    }
    /*   **PAGE TABLEAU** */
    
    .table {
        display: block;
        padding: 100px 100px;
    }
    
    table {
        border: 2px solid;
        border-collapse: collapse;
    }
    
    th,
    td {
        border: 0.5px solid black;
        padding: 20px;
        font-size: 1rem;
    }
    
    thead,
    tfoot {
        background-color: lightgray;
        color: black;
    }
    
    tbody tr:nth-child(odd) {
        background-color: grey;
    }
    
    tbody tr td:first-of-type {
        background-color: grey;
    }
    /* **END TABLEAU** */
    /* **wrapper**  */
    
    .box {
        width: 1024px;
        margin: 0 auto;
        padding: 125px 150px 0 150px;
    }
    
    @media screen and (min-width: 901px) {
        .wrapper {
            /* width: 1024px; */
            margin: 0 auto;
            /* padding: 125px 150px 0 150px; */
            font-size: 3rem;
        }
    }
    
    @media (max-width: 900px) {
        .wrapper {
            /* width: 1024px; */
            margin: 0 auto;
            /* padding: 60px 60px 0 60px; */
            font-size: 2rem;
        }
    }